@media (max-width: 1200px) {
    .header__logo {
        margin-right: 10px;
    }

    .nav__item:not(:last-child) {
        margin-right: 25px;
    }

    .header__social {
        margin-right: 28px;
    }

    .header__tel {
        margin-right: 20px;
    }

    .nav__link {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .header {
        position: relative;
        background-color: black;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 64px;

        &__menu {
            position: absolute;
            top: -100vh;
            padding: 40px;
            left: 0;
            right: 0;
            flex-direction: column;
            transition: all 0.3s ease;
            background-color: white;
        }

        &__logo {
            margin: 0;
            margin-bottom: 40px;
        }

        &__feedback {
            flex-direction: column;
        }

        &__tel,
        &__social {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .item-submenu:hover .item-submenu__button::after {
        transform: none;
        top: 45%;
    }

    .item-submenu__button.active {
        color: #208a00;
    }

    .item-submenu__button.active::after {
        transform: rotate(180deg);
        top: 30%;
        border-top: 3px solid #208a00;
    }

    .item-submenu__list {
        position: relative;
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 226px;
        top: 6px;
        left: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        transition: all 0.3s ease-in;
    }

    .item-submenu__link {
        font-size: 0;
    }

    .item-submenu__list.open {
        padding: 18px 20px;
        height: auto;
    }

    .item-submenu__list.open .item-submenu__link {
        font-size: 14px;
    }

    .item-submenu__list::before {
        display: none;
    }

    .nav {
        margin-bottom: 40px;
        margin-right: 0;

        &__list {
            flex-direction: column;
            width: 100%;
        }

        &__item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__item {
            text-align: center;
        }
    }

    .item-submenu__button {
        transform: translateX(10px);
    }

    .burger {
        position: absolute;
        display: block;
        width: 28px;
        height: 20px;

        &::after,
        &::before,
        &__line {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        &__line {
            top: 43%;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger.active + .header__menu {
        top: 100%;
    }

    .burger.active::after {
        transform: rotate(45deg);
        bottom: 8px;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 8px;
    }

    .burger.active .burger__line {
        width: 0;
    }

    .item-submenu__list::before {
        top: -21px;
    }
}
