$containerMaxWidth: 1920px;

$colorDarc: #202020;
$colorWhite: #fff;
$colorOrange: #ff6e30;
$colorGray: #333;
$colorLight: #cacaca;
$colorHover: #ff6e30;
$colorFocus: #bc572b;
$colorActive: #ce4307;



$colorMain: #804100;
$colorGreen: #208a00;