.contacts {
  @include flex-col;
  @include flex-all-center;

  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  background-color: $colorWhite;

  &__title {
    margin-bottom: 40px;
    font-size: 38px;
    line-height: 47px;
    font-weight: 600;
    color: $colorMain;
  }

  &__description {
    font-size: 22px;
    line-height: 33px;
  
  }

  &__container {
    @include flex-all-sb;
   align-items:  flex-start;
   padding-top: 90px;
   padding-left: 100px;
   padding-right: 100px;
   width: 100%;
   max-width: 1200px
  }

  &__contacts {
    @include flex-col;
    margin-right: 80px;
  }

  &__links {
    @include flex-col;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 300;
  }

 &__city {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  }

  &__social svg{
    width: 30px;
    height: 30px;
    fill: #64d600;
  }


}


.callback {
  // transform: translateY(-6px);

  max-width: 460px;


  &__input {
    height: 58px;
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 25px;
    border: 1px solid #c7c7c7;
    // background-color: #e9e9e9;

    &::placeholder {
      font-size: 16px;
      line-height: 19px;
    }
    &:hover::placeholder {
      color: $colorMain;
    }
    &:focus {
      border-color: $colorMain;
    }
  }

  &__textarea {
    margin-bottom: 25px;
    height: 102px;
    width: 100%;
    padding: 17px 20px;
    // background-color: #e9e9e9;
    border: 1px solid #c7c7c7;
    &::placeholder {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__button {
   max-width: 270px;
   width: 100%;
   height: 60px;
   color: $colorWhite;
   background-color: $colorMain;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 700;
   transition: all 0.3s ease-in-out;
  }
  
  &__button:hover {
    background-color: #0bab00;
  }
}




.form-group {
  position: relative;
}