.header {
  position: fixed;
padding: 8px 40px;
  top: 0;
  width: 100vw;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.80);
  z-index: 2000;
  background-color: $colorWhite;



&__menu {
    @include flex-all-sb ;

}

  &__logo {
    height: 50px;
    width: 50px;
    margin-right: 80px;
    background-image: url("../resources/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__nav {
    margin-right: 50px;
  }


  &__feedback{
    @include flex-v-center;
  }

  &__tel {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;
  }

  &__social {
    margin-right: 30px;
  }

  &__consultation {
    padding: 13px 30px;
    background-color: $colorMain;
    font-size: 14px;
    color: $colorWhite;
    font-weight: 700;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }

  &__consultation:hover {
    background-color: $colorGreen;
  }
}

.nav {
    &__list {
    @include flex;
  }

  &__item{
    position: relative;
  }


  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
  }

  &__link.active {
    opacity: 0.7;
  }

  &__link:hover:not(.active) {
    color: $colorGreen;
  }
}

.social {
  &__link  svg{
    width: 30px;
    height: 30px; 
    fill: $colorMain;
  }
}

//

.item-submenu__button {
  padding-right: 15px;
}

.item-submenu:hover > .item-submenu__list {
  color: $colorMain;
}

.item-submenu:hover > .item-submenu__button {
  color: $colorGreen;
}

.item-submenu__button::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    position: absolute;
    top: 45%;
    right: 0;
    border: 3px solid transparent;
    border-top: 3px solid $colorMain; 
    transition: all 0.3s ease-in-out;
}



.item-submenu:hover > .item-submenu__list,  
.item-submenu__list:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.item-submenu:hover .item-submenu__button::after {
  transform: rotate(180deg);
  top: 30%;
  border-top: 3px solid $colorGreen; 
}


.item-submenu__list {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  width: max-content;
  padding: 18px 20px;
	left: -50%;
  display: none;
  background-color: $colorWhite;
  border-radius: 3px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
}



.item-submenu__item:not(:last-child) {
  margin-bottom: 12px;
}


.item-submenu__item {
  width: 100%;
}

.item-submenu__link {
  display: block;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}


.item-submenu__item:hover .item-submenu__link{
  color: $colorGreen;
}


.burger {
  display: none;
}